<perch:form id="aanmelding-workshop-uitgebreid" method="post" app="perch_forms" class="aanmelding">

	<div class="workshop-naam">
		<p>
			Dit is een aanmelding voor <perch:content id="WorkshopNaam" type="text" label="Workshopnaam" />
			op <perch:content id="WorkshopDatum" type="text" label="WorkshopDatum" />
		</p>
	</div>

    <perch:input type="hidden" id="WorkshopNaam" value="<perch:content id="WorkshopNaam" type="text" label="Workshopnaam" />" />
	<perch:input type="hidden" id="WorkshopDatum" value="<perch:content id="WorkshopDatum" type="text" label="WorkshopDatum" />"/>
	


	<div>
	    <perch:label for="voornaam">Voornaam</perch:label>
	    <perch:input type="text" id="voornaam" required="true" label="voornaam" />
	    <span class="form-error"><perch:error for="voornaam" type="required">Vul aub je voornaam in</perch:error></span>
	</div>
	<div>
	    <perch:label for="achternaam">Achternaam</perch:label>
	    <perch:input type="text" id="achternaam" required="true" label="achternaam" />
	    <span class="form-error"><perch:error for="achternaam" type="required">Vul aub je achternaam in</perch:error></span>
	</div>

	<div class="geslacht"> 
	    <perch:label class="mainlabel" for="geslacht">Man/Vrouw</perch:label>
		<perch:input type="radio" id="geslacht" name="geslacht" options="Man,Vrouw" />
	</div>


	<div>
	    <perch:label for="gebdatum">Geboortedatum</perch:label>
	    <perch:input type="text" id="gebdatum" required="true" label="gebdatum" placeholder="21 jan 1974" />
	    <span class="form-error"><perch:error for="gebdatum" type="format">Vul aub je geboortedatum in</perch:error></span>
	</div>



	<div>
	    <perch:label for="straat">Straat en Huisnr</perch:label>
	    <perch:input type="text" id="straat" required="true" label="straatnaam" />
	    <span class="form-error"><perch:error for="straat" type="required">Vul aub je straatnaam en huisnr in</perch:error></span>

	</div>


	<div>
	    <perch:label for="postcode">Postcode</perch:label>
	    <perch:input type="text" id="postcode" required="true" label="postcode" />
	    <span class="form-error"><perch:error for="postcode" type="required">Vul aub je postcode in</perch:error></span>
	</div>

	<div>
	    <perch:label for="plaats">Plaatsnaam</perch:label>
	    <perch:input type="text" id="plaats" required="true" label="plaats" />
	    <span class="form-error"><perch:error for="plaats" type="required">Vul aub je plaatsnaam in</perch:error></span>
	</div>

	<div>
	    <perch:label for="telnr">Telefoonnummer</perch:label>
	    <perch:input type="text" id="telnr" required="true" label="telnr" />
	    <span class="form-error"><perch:error for="telnr" type="required">Vul aub je telefoonnummer in</perch:error></span>
	</div>

    <div>
        <perch:label for="email">Email</perch:label>
        <perch:input type="email" id="email" required="true" label="Email" placeholder="email@provider.nl" />
        <span class="form-error"><perch:error for="email" type="required">Vul je email adres in</perch:error></span>
        <span class="form-error"><perch:error for="email" type="format">Controleer of je emailadres juist is geschreven</perch:error></span>
    </div>

	<div>
		<perch:label for="vraag_1">Beoefent u meditatie? Welk type meditatie?</perch:label>
		<perch:input type="text" id="vraag_1" required="true" label="Beoefent u meditatie" />
		<span class="form-error"><perch:error for="vraag_1" type="required">Vul aub deze vraag in</perch:error></span>
	</div>
	<div>
		<perch:label for="vraag_2">Ondergaat of beoefent u healing?</perch:label>
		<perch:input type="text" id="vraag_2" required="true" label="beoefent u healing" />
		<span class="form-error"><perch:error for="vraag_2" type="required">Vul aub deze vraag in</perch:error></span>
	</div>
	<div>
		<perch:label for="vraag_3">Waarom wilt u meedoen aan deze workshop?</perch:label>
		<perch:input type="text" id="vraag_3" required="true" label="Waarom wilt u meedoen" />
		<span class="form-error"><perch:error for="vraag_3" type="required">Vul aub deze vraag in</perch:error></span>
	</div>
	<div>
		<perch:label for="vraag_4">Heeft u een of meerdere boeken van Drunvalo Melchizedek gelezen?</perch:label>
		<perch:input type="text" id="vraag_4" required="true" label="boeken van Drunvalo Melchizedek gelezen" />
		<span class="form-error"><perch:error for="vraag_4" type="required">Vul aub deze vraag in</perch:error></span>
	</div>
	<div>
		<perch:label for="vraag_5">Hoe is uw gezondheid?</perch:label>
		<perch:input type="text" id="vraag_5" required="true" label="uw gezondheid" />
		<span class="form-error"><perch:error for="vraag_5" type="required">Vul aub deze vraag in</perch:error></span>
	</div>
	<div>
		<perch:label for="vraag_6">Zijn er speciale behoeftes waar ik rekening mee zou moeten houden</perch:label>
		<perch:input type="text" id="vraag_6" required="true" label="speciale behoeftes" />
		<span class="form-error"><perch:error for="vraag_6" type="required">Vul aub deze vraag in</perch:error></span>
	</div>
	<div>
		<perch:label for="vraag_7">Voedsel allergieen? /Handicaps?/Iets anders?</perch:label>
		<perch:input type="text" id="vraag_7" required="true" label="Voedselallergieen etc" />
		<span class="form-error"><perch:error for="vraag_7" type="required">Vul aub deze vraag in</perch:error></span>
	</div>
	<div>
		<perch:label for="vraag_8">Ik heb de workshop gevonden via</perch:label>
		<perch:input type="text" id="vraag_8" required="true" label="gevonden via" />
		<span class="form-error"><perch:error for="vraag_8" type="required">Vul aub deze vraag in</perch:error></span>
	</div>
	<div class="bericht">
		<perch:label for="bericht">Opmerkingen</perch:label>
		<perch:input type="textarea" id="bericht" size="l" required="false" label="Bericht" />
	</div>
	

    <div>
        <perch:input class="button" type="submit" id="submit" value="Opsturen aanmelding" />
	</div>
	
    <perch:success>
        <perch:content id="success" type="textarea" label="Thank you message" textile="true" editor="markitup" />
    </perch:success>
</perch:form>
