<!-- Example use of layouts/regionedit.template ->

<h2>
	<perch:content id="alineakop" type="text" label="Alinea Kop" required="true" title="true" />
</h2>

<perch:template path="layouts/regionedit.template" />

<perch:if exists="alineaimage">
	<img class="foto" src="<perch:content id="alineaimage" type="image" label="Foto" />" 
	alt="<perch:content id="FotoOms" type="text" label="Foto Omschrijving" />" />
</perch:if>
	
<perch:content id="alineatekst" type="textarea" size="m" markdown="true" label="Alinea Tekst" required="true"/>
